:root {
    --cta-color: #FF6600;
    --primary-color: #007FFF;
    --hover-color: #0066cc;
    --secondary-color: #ccc;
} 

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header {
    min-height: 80px;
    padding: 10px 30px;
    background: #007FFF;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

header a:hover {
    color: #0066CC;
}

@media screen and (max-width: 786px) {
    header {
        font-size: 20px;
    }
}